<% if flash[:notice] %>

  <div class = "alert-<%= flash[:notice_type] || 'info' %>" >
    <%= flash[:notice] %>
    <a href = "#" class = "close" data-dismiss = "alert" aria-label = "close">&times;</a>
  </div>

<% end %>
